.hero--margin-left {
  margin-left: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  html {
    font-size: 50%;
  }
}

body {
  min-width: 325px;
  overflow: hidden;
}

.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  padding: 0 36px 36px 36px;
}

@media only screen and (max-width: 1440px) {
  .container {
    padding: 0 3rem 3rem 3rem;
  }
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .container {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    padding: 0 3.33rem 3.33rem 3.33rem;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .container {
    padding: 0 18px 18px 18px;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .container {
    padding: 0 18px;
  }
}

.snap-section {
  scroll-snap-align: start;
}

@font-face {
  font-family: 'Verb';
  src: url("../../assets/fonts/Yellow Design Studio - VerbMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'Verb';
  src: url("../../assets/fonts/Yellow Design Studio - VerbLight.otf") format("opentype");
  font-weight: 400;
}

body {
  font-family: 'Verb', Arial, Helvetica, sans-serif;
}

.header__logo {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: -2px;
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .header__logo {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .header__logo {
    font-size: 2.6rem;
    letter-spacing: -1px;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .header__logo {
    font-size: 3.8rem;
  }
}

.nav__list--item {
  font-size: 3.8rem;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 500;
  color: white;
  width: 45%;
  line-height: 0.9;
}

@media only screen and (max-width: 1440px) {
  .hero__heading {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .hero__heading {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero__heading {
    line-height: 0.9;
    font-size: 8rem;
    width: 60%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .hero__heading {
    font-size: 6.5rem;
    width: 68%;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .hero__heading {
    font-size: 3.1rem;
    width: 28vw;
    line-height: 1;
  }
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
  .hero__heading {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .hero__heading {
    font-size: 3.75rem;
    width: 65%;
  }
}

.hero__text {
  color: white;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1rem;
  letter-spacing: 1.2px;
}

@media only screen and (max-width: 1440px) {
  .hero__text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .hero__text {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .hero__text {
    font-weight: 400;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero__text {
    font-size: 2.2rem;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .hero__text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .hero__text {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 6%;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
  .hero__text {
    font-size: 0.75rem;
    margin-top: 14%;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .hero__text {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
  }
}

.hero__text--d {
  font-size: 4.1rem;
}

.hero__text--d, .hero__text--name {
  font-weight: 500;
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
  #heroTextWrapper2 {
    top: 15%;
    left: 6%;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  #heroText2 {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
  #heroText2 {
    margin-top: 12%;
  }
}

.hero__btn {
  font-size: 1.6rem;
  width: 7.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid black;
  opacity: 1;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero__btn {
    opacity: 0;
  }
}

.header {
  width: 92%;
  margin-left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .header {
    width: 92%;
    height: 6rem;
  }
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .header {
    width: 92%;
    height: 6rem;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .header {
    margin-left: 6%;
    padding: 0;
    height: 10vh;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .header {
    padding: 0;
    height: 5.79vh;
    margin-left: 8%;
  }
}

.hero {
  background: url("../../assets/img/bg-desktop1920x1080.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 94vh;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .hero {
    height: 93vh;
  }
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .hero {
    background: url("../../assets/img/bg-tabLand.png");
    background-size: 100% 100%;
    height: 94vh;
  }
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .hero {
    background: url("../../assets/img/bg-tabLand.png");
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero {
    background: url("../../assets/img/bg-tabPort.png");
    background-size: 100% 100%;
    height: 96vh;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .hero {
    background-size: 100% 100%;
    height: 94vh;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .hero {
    background: url("../../assets/img/bg-phoneLand.png");
    background-size: 100% 100%;
    height: 90vh;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .hero {
    background: url("../../assets/img/bg-phonePort.png");
    background-size: 100% 100%;
    height: 95vh;
  }
}

.hero__text--wrapper {
  position: absolute;
  top: 9%;
  left: 8%;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero__text--wrapper {
    top: 20%;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .hero__text--wrapper {
    top: 12%;
    left: 6%;
  }
}

.hero__btn {
  position: absolute;
  top: 55%;
  left: 8.5%;
}

.hero__img {
  max-width: 100%;
  position: absolute;
  top: 60%;
  right: -33%;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero__img {
    display: none;
  }
}

.hero-section {
  background: url("../../assets/img/bg-desktop1920x1080.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 97vh;
}

@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .hero-section {
    background: url("../../assets/img/bg-tabLand.png");
    background-size: 100% 100%;
    height: 97vh;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .hero-section {
    background: url("../../assets/img/bg-tabPort.png");
    background-size: 100% 100%;
    height: 98vh;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .hero-section {
    background: url("../../assets/img/bg-phoneLand.png");
    background-size: 100% 100%;
    height: 96vh;
  }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
  .hero-section {
    background: url("../../assets/img/bg-phonePort.png");
    background-size: 100% 100%;
    height: 100vh;
  }
}
/*# sourceMappingURL=main.css.map */