.header {
  width: 100%;
  margin-left: 8%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include respond(tab-land-pro) {
    width: 92%;
    height: 6rem;
  }

  @include respond(tab-land) {
    width: 92%;
    height: 6rem;
  }

  @include respond(tab-port) {
    padding: 0px 6rem;
  }

  @include respond(phone-land) {
    margin-left: 9%;
    padding: 0;
    height: 10vh;
  }

  @include respond(phone) {
    height: 5.79vh;
    padding: 0px 1rem;
  }
}
