.hero {
  background: url('../../assets/img/bg-desktop1920x1080.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 94vh;
  overflow: hidden;

  @include respond(small-desktop) {
    height: 93vh;
  }

  @include respond(tab-land-pro) {
    background: url('../../assets/img/bg-tabLand.png');
    background-size: 100% 100%;
    height: 94vh;
  }

  @include respond(tab-land) {
    background: url('../../assets/img/bg-tabLand.png');
    background-size: 100% 100%;
  }

  @include respond(tab-port-pro) {
    background: url('../../assets/img/bg-tabPort.png');
    background-size: 100% 100%;
    height: 96vh;
  }

  @include respond(tab-port) {
    background-size: 100% 100%;
    height: 94vh;
  }

  @include respond(phone-land) {
    background: url('../../assets/img/bg-phoneLand.png');
    background-size: 100% 100%;
    height: 90vh;
  }

  @include respond(phone) {
    background: url('../../assets/img/bg-phonePort.png');
    background-size: 100% 100%;
    height: 95vh;
  }

  &__text--wrapper {
    position: absolute;
    top: 9%;
    left: 8%;

    @include respond(tab-port-pro) {
      top: 20%;
    }

    @include respond(phone-land) {
      top: 12%;
      left: 6%;
    }
  }

  &__btn {
    position: absolute;
    top: 55%;
    left: 8.5%;
  }

  &__img {
    max-width: 100%;
    position: absolute;
    top: 60%;
    right: -33%;

    @include respond(tab-port-pro) {
      display: none;
    }
  }
}

.hero-section {
  background: url('../../assets/img/bg-desktop1920x1080.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 97vh;

  @include respond(tab-land-pro) {
    background: url('../../assets/img/bg-tabLand.png');
    background-size: 100% 100%;
    height: 97vh;
  }

  @include respond(tab-port-pro) {
    background: url('../../assets/img/bg-tabPort.png');
    background-size: 100% 100%;
    height: 98vh;
  }

  @include respond(phone-land) {
    background: url('../../assets/img/bg-phoneLand.png');
    background-size: 100% 100%;
    height: 96vh;
  }

  @include respond(phone) {
    background: url('../../assets/img/bg-phonePort.png');
    background-size: 100% 100%;
    height: 100vh;
  }
}
