.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    &--icon {
      width: 10px;

      @include respond(phone) {
        margin-left: 2rem;
      }
    }
  }
}
