html {
  font-size: 62.5%;

  @include respond(tab-port-pro) {
    font-size: 56.25%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  min-width: 325px;
}

.container {
  margin: 0 36px 36px 36px;
  overflow: hidden;

  @include respond(small-desktop) {
    margin: 0 3rem;
  }

  @include respond(phone-land) {
    margin: 0 2.2vw;
  }

  @include respond(phone) {
    width: 325px;
    margin: 0 auto;
  }
}
