@font-face {
  font-family: 'Verb';
  src: url('../../assets/fonts/Yellow\ Design\ Studio\ -\ VerbMedium.otf')
    format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Verb';
  src: url('../../assets/fonts/Yellow\ Design\ Studio\ -\ VerbLight.otf')
    format('opentype');
  font-weight: 400;
}

body {
  font-family: 'Verb', Arial, Helvetica, sans-serif;
}

.header {
  &__logo {
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: -2px;

    @include respond(phone-land) {
      font-size: 2.6rem;
      letter-spacing: -1px;
    }

    @include respond(phone) {
      margin-left: 30%;
      font-size: 3.8rem;
    }
  }
}

.nav__list {
  &--item {
    font-size: 3.8rem;
  }
}

.hero {
  &__heading {
    font-size: 7.5rem;
    font-weight: 500;
    color: white;
    width: 45%;
    line-height: 0.9;

    @include respond(small-desktop) {
      font-size: 6rem;
    }

    @include respond(tab-port-pro) {
      line-height: 0.9;
      font-size: 8rem;
      width: 60%;
    }

    @include respond(tab-port) {
      font-size: 6.5rem;
      width: 68%;
    }

    @include respond(phone-land) {
      font-size: 3.8rem;
      width: 30vw;
      line-height: 0.9;
    }

    @include respond(phone) {
      font-size: 3.75rem;
      width: 65%;
    }
  }

  &__text {
    color: white;
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 1rem;

    @include respond(small-desktop) {
      font-size: 2rem;
    }

    @include respond(tab-port-pro) {
      font-size: 2.6rem;
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }

    @include respond(phone-land) {
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 5%;
      letter-spacing: 1px;
    }

    @include respond(phone) {
      font-size: 1.4rem;
      font-weight: 400;
    }

    &--d {
      font-size: 4.1rem;
    }

    &--d,
    &--name {
      font-weight: 500;
    }
  }
}
